.card-mentor{
    border-radius: 4px;
    position: relative;
    right: 110px;
    width: 255px;
    height: 253px;
}
.buto1{
    position: relative;
    font-size: 12px;
    font-weight: lighter;
    top: -60px;
    left: 1000px;
    width: 105px;
    height: 35px;
    cursor: pointer;
}
.dot1{
    content: url('../assets/ic_more_vert_24px.svg');
    // position: relative;
    left:139px;
    width: 3px;
    padding-left: 6.5px;
    padding-right: 6.5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 9px;
    background-color: #F5F5F5;
}
.tip{
    background: #008CFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 257px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    position: relative;
    top: -15px;
    z-index: 1;
    position: relative;
    left: 41px;
}
.dig-container{
    // display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#outlined-basic2{
    width: 300px;
    height: 15px;
}
.but-container{
    display: flex;
    position: relative;
    left: 42px;
    justify-content: center;
}
.bu1{
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    width: 122px;
    height: 40px;
    color: #648190;
    font-size: 18px;
    font-weight: 100;
}
.bu2{
    background: #008CFF 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    width: 122px;
    height: 40px;
    font-size: 18px;
    font-weight: 100
}
#simple-menu{
    // z-index: 1;
    width: 200px;
}
#outlined-basic-drop{
    width: 285px;
    height: 17px;
    padding:10px 22px 10px 22px;
    display: flex;
    
}
.card-head{
    font-size: 17px;
}
.mid{
    // background: #40494D 0% 0% no-repeat padding-box;
border-radius: 2px;
opacity: 1;
color:#648190;
font-size: 13px;
font-weight: 100;
}
.line1{
    border:1px solid#DEE5EE;
    width: 230px;
    margin-left: 9px;
}
