.card-mentor{
    border-radius: 4px;
    position: relative;
    right: 110px;
    width: 255px;
    height: 253px;
}
.buto1{
    position: relative;
    font-size: 12px;
    font-weight: lighter;
    top: -60px;
    left: 1000px;
    width: 105px;
    height: 35px;
}
.dot1{
    content: url('../assets/ic_more_vert_24px.svg');
    position: relative;
    left:139px;
    width: 3px;
    padding-left: 6.5px;
    padding-right: 6.5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 9px;
    background-color: #F5F5F5;
}