.card-mentor{
    border-radius: 4px;
    position: relative;
    right: 110px;
    width: 255px;
    height: 253px;
}
.buto1{
    position: relative;
    font-size: 12px;
    font-weight: lighter;
    top: -60px;
    left: 1000px;
    width: 105px;
    height: 35px;
}
.dot1{
    content: url('../assets/ic_more_vert_24px.svg');
    position: relative;
    left:139px;
    width: 3px;
    padding-left: 6.5px;
    padding-right: 6.5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 9px;
    background-color: #F5F5F5;
}
.tip{
    background: #008CFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 257px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    position: relative;
    top: -15px;
    z-index: 1
}
.dig-container{
    // display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#outlined-basic2{
    width: 300px;
    height: 15px;
}