.login{
    // border: 1px solid black;
    background-color: #F7F7F7;
    display: flex;
    align-items: flex-start;
}
.img-container{
    // border: 1px solid black;
    // content: url('../assets/Image\ 11@2x.png');
    background-color: white;
    width: 50%;
    position: relative;
    height: 930px;
    
}
.img1{
    content: url('../assets/Image\ 11@2x.png');
    width: 70%;
    position: relative;
    top: 190px;
}
.inputs{
    text-align: center;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
    
    position: relative;
    top: 190px;
    left: 13%;
    // left: 10px;
    padding: 10px;
    // padding-left: 155px;
    // padding-top: 155px;
    flex-direction: column;
}
.l1{
    content: url('../assets/BridgeLabzVirtual@2x.png');
    width: 78px;
}
.eye1{
    content: url('../assets/eye-off.svg');
    position: relative;
    top: -35px;
    left: 195px;
    opacity: 0.3;
    width: 20px;
    height: 20px;
    cursor: default;
}
#outlined-basic,#outlined-basic1{
    width: 302px;
    height: 13px;
    outline: none;
}
button{
    width: 329px;
    height: 53px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    background-color: #008CFF;
    outline: none;
    border: none;
    border-radius: 5px;
}
.frgt{
   font-size: 12px;
   position: relative;
   left: 115px;
}
.hdr1{
    font-size: 25px;
    font-weight: bolder;
}
.hdr2{
    font-size: 12px;
}
@media (max-width:863px){
    .img-container{
        display: none;
    }
    .login{
        align-items: flex-start;
        height: 900px;
    }
    .inputs{
        flex-direction: column;
    }
    .eye1{
        position: relative;
        left: 215px;
    }
    .frgt{
        position: relative;
        left: 150px;
    }
    .hdr2{
        font-size: 15px;
    }
}
@media (max-width:863px){
    .inputs{
        // border: 1px solid black;
        padding-right: 20px;
        margin-left: -30px;
        margin-right: 5px;
        margin-top: -20px;
    }
    #outlined-basic,#outlined-basic1{
        width: 390px;
        height: 13px;
        // outline: none;
    }
    button{
        width: 410px;
    }
}
@media (max-width:500px){
    .login{
        background-color: white;
    }
}