.login{
    // border: 1px solid black;
    background-color: #F7F7F7;
    display: flex;
    align-items: flex-start;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    position: relative;
    height: 930px;
    
}
.img1{
    // content: url('../assets/Image.png');
    width: 70%;
    position: relative;
    left: 60px;
}
.inputs{
    text-align: center;
    position: relative;
    top: 190px;
    left: 13%;
    padding: 10px;
    flex-direction: column;
}
.l1{
    content: url('../assets/BridgeLabzVirtual@2x.png');
    width: 78px;
}
.inpt1{
    position: fixed;
    // border: 1px solid black;
    width: auto;
}
.eye1{
    content: url('../assets/eye-off.svg');
    position: relative;
    // top: -35px;
    // left: 195px;
    opacity: 0.3;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color:rgb(255, 255, 255) ;
    cursor: pointer;
    border-radius: 15px;
}
.eye1:hover{
    background-color:rgb(172, 172, 172) ;
    opacity: 0.5;
    transform: rotate(180deg);
    transition: 0.5s;
}
#outlined-basic,#outlined-basic1{
    width: 302px;
    height: 13px;
    outline: none;
}

.loginbut{
    width: 329px;
    height: 53px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    background-color: #008CFF;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s;
}
.loginbut:hover{
    background:linear-gradient(180deg,#008CFF,#55e7fc);
}
.frgt{
   font-size: 12px;
   position: relative;
   left: 115px;
}
.hdr1{
    font-size: 25px;
    font-weight: bolder;
}
.hdr2{
    font-size: 12px;
}
.passfield{
    width: 330px;
}
.Visibility:hover{
    transform: rotate(360deg);
    transition: 1s;
}
@media (max-width:863px){
    .img-container{
        display: none;
    }
    .login{
        align-items: flex-start;
        height: 880px;
        justify-content: center;
    }
    .inputs{
        flex-direction: column;
    }
    .eye1{
        position: relative;
        left: 215px;
    }
    .frgt{
        position: relative;
        left: 150px;
    }
    .hdr2{
        font-size: 15px;
    }
    .passfield{
        width: 419px;
    }
}
@media (max-width:863px){
    .inputs{
        // border: 1px solid black;
        padding-right: 20px;
        margin-left: -30px;
        margin-right: 5px;
        margin-top: -20px;
        left: 0;
    }
    #outlined-basic,#outlined-basic1{
        width: 390px;
        height: 13px;
        outline: none !important;
    }
    .loginbut{
        width: 410px;
    }
}
@media (max-width:500px){
    .login{
        background-color: white;
    }
    .inputs{
        left: 11%;
    }
}