.container{
    border: 1px solid #DEE5EE;
    // border: 1px solid #000000;
    display: flex;
    align-items:flex-start;

}
.details{
    position: fixed;
    margin-right: 75px;
    left: 15%;
    top: 11%;
    // border: 1px solid #000000;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    overflow: visible;
}
.a{
    text-decoration: none;
    // color: black;
}
.a:visited {
    text-decoration: none;
  }

  
.sidebar{
    border: 2px solid #DEE5EE;
    justify-content: center;
    text-align: left;
    height: 940px;
    // width: 70px;
    flex-basis: auto;
    z-index: 1;
    background-color: white;
}

.i1{
    content: url('../assets/BridgeLabzVirtual.png');
    width: 78px;
    position: relative;
    left: 75px;
}
.i2{
    content: url('../assets/Group\ 3621.svg');
    position: relative;
    width: 20px;
    margin-left:11px
}
.i3{
    content: url('../assets/stamper.svg');
    position: relative;
    width: 20px;
    opacity: 70%;
}
.i4{
    content: url('../assets/graduation-cap-solid.svg');
    position: relative;
    width: 20px;
    opacity: 70%;
}
.tabs{
    justify-content: space-evenly;
    display: flex;
    width: 234px;
    height: 41px;
    border-left: 1px solid #DEE5EE;
    text-align: left;
    vertical-align: middle;
    line-height: 41px;
    color: #40494D;
    font-size: 13px;
    font-weight: 500;
}
#tab1{
    border-top:1px solid #DEE5EE; ;
}
.tabs:hover{
    color: #008CFF;
    background-color: #E4F3FF;
    border-left:3px solid #008CFF;
    font-weight: bolder;
    transition: 0.3s;
}
.tabs.active{
    transition: 0.3s;
    background-color:#d3d5d6;
    color: #40494D;
    border-left: 1px solid ;
}
.navbar{
    border: 1px solid #DEE5EE;
    // border: 1px solid #000000;
    border-left: 0px;
    width: 1972px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card{
    width: 275px;
    height: 113px;
    border: 1px solid #DEE5EE;
    border-radius: 12px;
    padding: 10px;
    position: relative;
    margin: 9px;
}
.card:hover{
    box-shadow: 0px 3px 6px #00000029;
    transition: 0.5s;
}
.card-head{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: 500;
    color: #40494D;
    // border: 1px solid black;
}
.dot{
    content: url('../assets/ic_more_vert_24px.svg');
    left:35px;
    // border: 1px solid black;
    width: 3px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 12px;
    background-color: #F5F5F5;
    cursor: pointer;
}
.contain{
    display: flex;
    justify-content:space-evenly ;
}
.a1{
    position: relative;

    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b1{
    font-size: 12px;
    color: #666D70;
    position: relative;
}
.line{
    border: 1px solid #DEE5EE;
    position: relative;
}
.a2{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
}
.b2{
    font-size: 12px;
    color: #666D70;
    position: relative;
}
.tooltip{
    z-index: 1;
    width: 138px;
    height: 80px;
    border: 1px solid #F2F5F7;
    box-shadow: 0px 3px 6px #00000029;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    text-align: left;
}
.tool1,.tool2{
    padding-left: 40px;

    font-size: 14px;
    color:#658292;
    cursor: pointer;
    // border: 1px solid black;
}
.tool1{
    position: relative;
    top: 10px;
}
.tool2{
    position: relative;
    top: 15px;
}
.t1{
    font-weight: bold;
    font-size: 14px;
    color: #40494D;
}
.profile{
    content: url('../assets/user.svg');
    
    width: 19px;
    position: relative;
    margin-right: 75px;
    background-color: #DEE5EE;
    border: #DEE5EE;
    border-radius: 22px;
    padding: 12px 12px 12px 12px;
    
}
@media (max-width:771px) and (min-width:635px){
    .details{
        display: flex;
        position:fixed;
        left: 250px;
        flex-direction: column; 
    }
}
@media (max-width:634px) {
    .navbar{
        justify-content: space-between;
    }
    
    .bars{
        content: url('../assets/icons8-menu.svg');
        margin-left: 45px;
        padding: 15px;
        border-radius: 5px;
        cursor: pointer;
    }
    .bars:hover{
        background-color: blanchedalmond;
    }
    .sidebar{
        position: fixed;
        width: 0px;
        justify-content: center;
        overflow: hidden;
        transition: 0.5s;
        z-index: 1;
        // display: none;
    }
    .sidebar.active{
        width: 162px;
        z-index: 1;
    }
    .tabs{
        position: relative;
        right: 24px;
        width: 184px;
    }
    
    .details{
        
        position: fixed;
        
        left: 20px;
        right: -60px;
        // border: 1px solid black;
    }
    .i1{
        position: relative;
        left: 42px ;
    }
}
@media (max-height:730px){
    .details{
        top: 130px;
    }
}