#outlined-basic2{
    height: 20px;
}
.MuiInputLabel-outlined{
    position: relative;
    top:16px;
}
.MuiInputBase-input{
    height: 100%;
}
.select__label{
    position: relative !important;
    top: 12px !important;
}