.details2{
    position: fixed;
    padding-top: 24px;
    width: 1450px;
    margin-right: 45px;
    // bottom: 800px;
    left: 16%;
    top: 15%;
    // height: 703px;
    // border: 1px solid #E2E2E2;
    // border: 1px solid black;
    // border-radius: 20px;
    // background: #FAFAFA 0% 0% no-repeat padding-box;
    // border: 1px solid black;
    // padding: 25px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // flex-wrap: wrap;
    // overflow: visible;
}
.divi1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DEE5EE;
    border-radius: 12px;
    opacity: 1;
    top: 145px;
    left: 235px;
    width: 784px;
    max-height: 680px;
    padding: 35px;
    overflow: auto;
}
.divi2{
    padding: 35px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #DEE5EE;
    border-radius: 12px;
    opacity: 1;
    width: 454px;
    max-height: 680px;
    overflow: auto;
}
.h{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.h-t{
    color: #12324B;
    opacity: 29%;
}
.buto4{
    position: relative;
    font-size: 13px;
    font-weight: lighter;
    width: 105px;
    height: 35px;
    cursor: pointer;
}
.f{
    padding:5px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    // border: 1px solid black;
    justify-content: space-between;
}
.card-de{
    margin: 10px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 11px;
    opacity: 1;
    width: 165px;
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #1C1C1C;
}
.men-i{
    font-size: 15px;
}
.men-n{
    font-size: 17px;
    font-weight: bold;
}
.abcd{
    content: url('../assets/employee\ \(5\).png');
    background-color: white;
    width: 86px;
    height: 78px;
    border-radius: 8px;
}
.st{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    opacity: 1;
    width: 439px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}
.bin,.bin1{
    content: url('../assets/icons8-trash-can-18.png');
    opacity: 25%;
    cursor:pointer ;
}
.bin1{
    position: relative;
    top: 9px;
    align-self: flex-end;
}
