
.details2{
    padding-top: 24px;
    width: 1450px;
    display: flex;
    flex-direction: column;
    top: 15%;
    text-align: left;
    align-self: flex-start;
    justify-content: space-between;
}
.details3{
    overflow-y: hidden;
    padding-top: 24px;
    height: 670px;
    // width: 1450px;
    left: 16%;
    display: flex;
    flex-direction: row;
    top: 15%;
    text-align: left;
    align-self: flex-start;
    justify-content: space-between;
}
.divi1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DEE5EE;
    border-radius: 12px;
    opacity: 1;
    top: 145px;
    left: 235px;
    width: 784px;
    max-height: 680px;
    padding: 35px;
    overflow: auto;
}
.divi2{
    padding: 35px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: 1px solid #DEE5EE;
    border-radius: 12px;
    opacity: 1;
    width: 454px;
    max-height: 680px;
    overflow: auto;
    margin-left: 85px;
}
.divi1 .h{
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 800px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 148px;
}
.divi2 .h{
    position: fixed;
    z-index: 999;
    background-color: #FCFCFC;
    width: 450px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 148px;
}
.h-t{
    color: #12324B;
    opacity: 29%;
}
.buto4{
    position: relative;
    font-size: 13px;
    font-weight: lighter;
    width: 105px;
    height: 35px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #008CFF 0% 0% no-repeat padding-box;
    color: #ffffff;
    border-radius: 5px;
}
.f{
    padding:5px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    // border: 1px solid black;
    justify-content: space-between;
}
.card-de{
    margin: 10px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 11px;
    opacity: 1;
    width: 165px;
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #1C1C1C;
}
.men-i{
    font-size: 15px;
}
.men-n{
    font-size: 17px;
    font-weight: bold;
}
.abcd{
    content: url('../assets/employee\ \(5\).png');
    background-color: white;
    width: 86px;
    height: 78px;
    border-radius: 8px;
}
.st{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    opacity: 1;
    width: 439px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}
.bin,.bin1{
    content: url('../assets/icons8-trash-can-18.png');
    opacity: 25%;
    cursor:pointer ;
}
.bin1{
    position: relative;
    top: 9px;
    align-self: flex-end;
}
@media (max-width:1024px){
    .detailscontainer12{
        top: 10%;
    }
    .details3{
        flex-direction: column;
        height: 700px;
        
    }
    .divi1{
        width: auto;
    }
    .divi2{
        width: auto;
        margin-left: 0px;
    }
    .divi1 .h{
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 650px;
        top:162px;
        height: 50px;
    }
    .divi2 .h{
        position: fixed;
        width: 550px;
        z-index: 999;
        background-color: #FCFCFC;
        width: 650px;
        top: 699px;
        height: 50px;
    }
    .st{
        width: 609px;
    }
}
@media (max-width:770px){
    .divi1{

    }
    
    .divi1 .h{
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 550px;
        top: 128px;
        height: 50px;
    }
    .divi2 .h{
        position: fixed;
        width: 550px;
        z-index: 999;
        background-color: #FCFCFC;
        width: 550px;
        top: 688px;
        height: 50px;
    }
    
}
@media (max-width:375px){
    
    .divi1 .h{
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 270px;
        top: 107px;
        height: 50px;
    }
    .divi2 .h{
        position: fixed;
        width: 550px;
        z-index: 999;
        background-color: #FCFCFC;
        width: 270px;
        top: 698px;
        height: 50px;
    }
    
}
@media (max-height:770px){
    .details3{
        height: 520px;
    }
    .divi1 .h{
        position: fixed;
        z-index: 999;
        background-color: white;
        width: 550px;
        top: 128px;
        height: 50px;
    }
    .divi2 .h{
        position: fixed;
    }
    
}
