.card-course{
    border-radius: 11px;
    position: relative;
    right: 110px;
    width: 255px;
    height: 203px;
    
}
.card-head1{
    background-color: #F5F5F5;
    width: 255px;
    height: 85px;
    padding: 10px;
    position: relative;
    top: -10px;
    right: 10px;
    border: 1px solid #DEE5EE;
    border-radius: 11px;
    color: #40494D;
    font-size: 16px;
    font-weight: 700;
}
.in-div{
    display: flex;
    
    justify-content: space-between;
    // border:1px solid black;
}
#outlined-basic3{
    
    width: 130px;
    height: 15px;
}
#outlined-basic4{
    width: 300px;
    height: 70px;
}
.crs-id{
    background: #40494D 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    color: white;
    font-size: 10px;
    padding-right: 3px;
    padding-left: 3px;
    font-weight: 100;
}
.txt-crs{
    text-align: left;
    letter-spacing: 0px;
    color: #37465A;
    opacity: 1;
    font-size: 12px;
    width: 233px;
    
}
.price{
    text-align: left;
font-size: 25px;
letter-spacing: 0px;
color: #40494D;
opacity: 1;
}
.mnth{
    font-size: 12px;
}