.detailscontainer12{
    position: fixed;
    left: 295px;
    // right: 45px;
    top: 13%;
    display: flex;
    // overflow: auto;
    margin-right: 25px;
}
.details1{
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    text-align: left;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    justify-content: space-between;
    // overflow-y: auto;
}
.hold{
    display: flex;
    flex-direction: column; 
}
.img-hold{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 292px;
    height: 218px;
    background: #12324B 0% 0% no-repeat padding-box;
    border-radius: 20px 0px 0px 0px;
    opacity: 1;
    padding: 10px;
}
.img-men{
    content: url('../assets/employee\ \(5\).png');
    width: 80px;
    border-radius: 42px;
    background-color: white;
}
.name{
    color:#FFFFFF;
    font-size: 22px;
}
.mid1{
    color:#FFFFFF;
    font-size: 18px;
}
.details-hold{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 449px;
    
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DEDEDE;
    border-radius: 0px 0px 0px 20px;
    opacity: 1;
    align-items: center;
    text-align: left;
    background-color: #F4F7FA;
}
.hold01{
    display: flex;
    flex-direction: column;
}
.child-hold{
    width: 85%;
    text-align: center;
}
.mail{
    content: url('../assets/envelope.png');
    opacity: 70%;
}
.phone{
    content: url('../assets/call.png');
    opacity: 70%;
}
.address{
    content: url('../assets/pin.png');
    opacity: 70%;
}
.crs{
    content: url('../assets/icons8-diversity-20.png');
    opacity: 70%;
    width: 30px;
}
.mtr{
    content: url('../assets/stamper.svg');
    opacity: 70%;
    width: 30px;
}
#info1,#info2,#info3{
    display: flex;
    align-items: center;
    color: #3B3B3B;
}
#txt1,#txt2,#txt3{
    position: relative;
    left: 15px;
    width: 75%;
    text-align: left;
}
.info-1{
    background: #F4F9FF 0% 0% no-repeat padding-box;
border: 1px solid #DEE5EE;
padding-left:30px ;
padding-right:30px ;
border-radius: 9px;
opacity: 1;
width: 208px;
height: 62px;
display: flex;
justify-content: space-between;
align-items: center;
color:#9EBFE0;

}
.ct{
    color: #4A6581;
}
.hold1{
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.hold0{
    display: flex;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    
}
.drop{
    // position: fixed;
    // border: 1px solid black;
}
.drop-down-main{
    width: 561px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #00000029;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: space-between;
}
.sort-down{
    content: url('../assets/icons8-sort-down-20.png');
    opacity: 33%;
    cursor: pointer;
    transition: 0.5s;
}
.sort-up{
    content: url('../assets/icons8-sort-up-20.png');
    opacity: 33%;
    cursor: pointer;
    transition: 0.5s;
}
.drop-down-list{
    position: relative;
    z-index: 1;
    width: 560px;
    height: 0px;
    background-color:  #FFFFFF;
    box-shadow: 0px 1px 4px #00000029;
    border-radius: 4px;
    opacity: 1;
    padding-left: 30px;
    padding-right: 30px;
    overflow: auto;
    transition: 0.5s
}
.down-list{
    padding:15px;
    color: #696969;
    cursor: pointer;
    border-radius: 45px;
}
.down-list:hover{
    background-color: blanchedalmond;
    transition: 0.3s;
}
.drop-down-list.active{
    height: 280px;
    display: block;
    
}
.stu-list{
    position: relative;
    padding: 25px;
    padding-top: 25px;
    width: 966px;
    height: 506px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #00000029;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: column;
}
.ROW{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-first{
    width: 672px;
    height: 35px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}
.row-last{
    width: 250px;
    height: 35px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
}
.labels{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.txt,.txt1{
    color: #12324B;
    opacity: 29%;
}
.txt1{
    
}
.stu-cnt{
    display: flex;
    width: 364px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #00000029;
    border-radius: 4px;
    opacity: 1;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0px;
    color: #313131;
    opacity: 1;
    margin-right: 65px;
}
.line2{
    border: 1px solid #707070;
    height: 22px;
    opacity: 23%;
    width: 0px;
}
.count12{
    width: 37px;
    height: 27px;
    background: #008CFF 0% 0% no-repeat padding-box;
    border: 1px solid #008CFF;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 17px;
}
@media (max-width:1024px){

    .detailscontainer12{
        left: 285px;
        top: 10%;
        height: 52%;
        overflow: auto;
        border: 1px solid rgb(238, 238, 238);
        border-radius:  20px 20px 20px 20px;
    }
    .details1{
        flex-direction: column;
    }
    .img-hold,.details-hold{
        width: auto;
    }
    .img-hold{
        border-radius: 20px 20px 0px 0px;
    }
    .details-hold{
        border-radius:  0px 0px 20px 20px;
    }
    .hold01{
        display: flex;
        flex-direction: column;
    }
    .hold0,.hold1{
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
    .stu-list{
        width: 569px
    }
    .row-first{
        width: 350px;
    }
    .row-last{
        width: 150px;
    }
    .stu-cnt{
        margin-right: 0;
        width: 100%;
    }
}
@media (max-width:768px){
    .detailscontainer12{
        left: 110px;
        right: 5px;
        height: 640px;
    }
}
@media (max-width:633px){
    .detailscontainer12{
        left: 25px;
        right: 5px;
        height: 640px;
    }
    .hold01{
        align-items: center;
    }
    .stu-list{
        width: 262px
    }
    .row-first{
        width: 130px;
    }
    .row-last{
        width: 60px;
    }
    .stu-cnt{
        margin-right: 0;
        width: 100%;
    }
    .drop-down-main{
        width: 252px
    }
    .drop-down-list{
        width: 252px
    }
    .stu-cnt{
        width: 312px
    }
}
