.MuiTableContainer-root {
   width: 1500px;
}
.tcont{
    // padding: 20px;
    width: 1200px;
    // border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px ;
}
.main-table{
    padding: 15px;
    // width: 1600px;
    position: relative;
    // right: 120px;
    border: 1px solid #DEDEDE;
    background-color: #FFFFFF;
}
.tbl-cnt{
    width: 1550px;
    // border: 1px solid black;
}
.upload{
    content: url('../assets/icons8-upload-19.png');
    // border: 1px solid black;
    background-color: #40494D;
    padding: 5px;
    margin-right:11px;
    width: 25px;
    border-radius: 25px;
    cursor:pointer;
}
.t1-holder{
    display: flex;
}
.t-head{
    background-color: #12324B;
    color: white;
    text-align: center;
}
.t-body{
    text-align: center;
}
#th{
    color: white;
    opacity: 40%;
    border-right: rgb(228, 228, 228);
}

.tbr:hover{
    background-color: #E5E5E5;
    cursor: pointer;
}
.md12{
    width: 500px;
height: 308px;
border: 0.5px solid #707070;
// border-radius: 10px;
opacity: 1;
display: flex;
flex-direction: column;
padding: 15px;
align-items: flex-start;
// justify-content: center;

}
.hd12{
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}
.titl{
    color: #78827A;
    font-size: 23px;
}
.cross{
    color: #999999;
    font-size: 20px;
    align-self: flex-end;
    cursor: pointer;
}
.bd12{
    // border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.frmt{
    color: #BEBEBE;
    font-size:14px ;
}
.bd-1{
    cursor: pointer;
    border: 0.5px solid #B6B6B6;
    justify-content: center;
    align-items: center;
    display: flex;
border-radius: 2px;
opacity: 1;
width: 115px;
height: 35px;
background: #F6F8FC 0% 0% no-repeat padding-box;
color: #4A584D;
}
.ft12{
    display: flex;
    width: 100%;
    // border: 1px solid black;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    
}
.upload12{
    // background: #FFFFFF ;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.32;
    width: 115px;
    height: 35px;
    font-size: 15px;
    outline: none;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    background: #008CFF 0% 0% no-repeat padding-box;
}
.upload12:hover{
    transition: 0.5s;
    box-shadow: 0px 15px 20px rgba(161, 165, 163, 0.774);
    opacity:1
}
.cloud{
    content: url('../assets/icons8-upload-to-cloud-20.png');
}
@media (max-width:1024px){
    .lac{
        width:700px
    }
    .tbl-cnt{
        width:720px
    }
    .details2 .lac{
        width:720px
    }
}
@media (max-width:768px){
    .details2{
       position: relative;
       right: 65px;
    }
}
@media (max-width:375px){
    .lac{
        width: 310px;
    }
    .details2 .lac{
        position: fixed;
        width: 310px;
    }

    .details2{
        // border: 1px solid black;
        position: relative;
        width: 100%;
        right: 0px;
        overflow: auto;
        border-top-left-radius: 105px;
        border-top-right-radius:105px;
    }
}
