Table{
    padding: 15px;
    width: 1400px;
    position: relative;
    right: 120px;
    // border: 1px solid black;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px ;
    background-color: blanchedalmond;
}
thead{
    background-color: #12324B;
    color: white;
    text-align: center;
}